/* subtitle */

.subtitle-container {
  display: flex;
  justify-content: center;
  margin-top: 100px;
  margin-bottom: 50px;
  @include mq(tab) {
    margin: 5vw 0;
  }
}

.subtilte {
  position: relative;
  border-bottom: 5px solid rgb(187, 187, 187);
  width: 90%;
  @include mq(tab) {
    width: 100%;
  }

  span {
    display: inline-block;
    padding: 5px 10px;
    border-bottom: 5px solid rgb(66, 96, 45);
    margin-bottom: -5px;
    @include mq(tab) {
      font-size: 5vw;
    }
  }
}

