// Colors
$primary-background-color: #FFF8E0;
$secondary-background-color: #FFFFFF;

$primary-accent-color: #F5BB07;
$secondary-accent-color:#FFEBAD;

$orange-down-arrow-color:#F5BB07;

$primary-font-color: #000000;
$secondary-font-color: #FFFFFF;
$accent-orange-font-color:#F5BB07;
$accent-yellow-font-color:#FFFF00;
$accent-green-font-color:#32B16C;

$customer-speech-bubble-color: #FFEBAD;
$trainer-speech-bubble-color: #d0e6da;

$form-back-ground-color:#F4F4F4;